.test-static{
    background: red;
	width: 100px;
	height: 100px;
	float: left;
	margin: 5px;
}
.test-absolute{
    background-color: aqua;
    position: absolute;
	top: 100px;
	left: 100px;
}
.test-relative{
    background-color: antiquewhite;
    width: 100px;
	height: 100px;
	float: left;
	margin: 5px;
}
.test-fixed{
    background-color: blue;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100px;
}
.test-sticky{
    position: sticky;
    top: 0;
    background-color: green;
}